{% extends "main.html" %}
{% load static %}
{% block main_body %}
<div class="flex-grow contents">
    <div class="block  h-full m-2 border border-gray-950 rounded-md shadow-md">
        <div class="flex flex-col h-full">
            <div class="flex flex-row p-2 items-center gap-10 border-b border-b-gray-950">
                <h5>All courses</h5>
                <input type="text" placeholder="Search..." class="bg-inherit border border-gray-950 rounded-md">
            </div>
            <div class="overflow-y-auto">
                {% for all_subject in all_courses %}
                    <div class="flex justify-between items-center m-2 h-24 bg-gray-950 rounded-md">
                        <div class="m-2 w-1/5">
                            <h4>{{ all_subject.value }}</h4>
                        </div>
                        <div class="hidden md:flex m-2 flex-grow overflow-clip w-4/5">
                            <p title={{ all_subject.description }}>{{ all_subject.description | truncatechars:350 }}</p>
                        </div>
                        <button class="bg-yellow-500 m-2 py-1 px-2 text-gray-900 hover:bg-yellow-600 rounded-md w-56">Start learning</button>
                    </div>
                {% empty %}
                    <div class="flex flex-col h-full justify-center items-center">
                        <p class="m-2 text-gray-500">Hey champ! you have finished studying all the courses that are available for you...</p>
                        <p class="m-2 text-gray-500">Feel free to give us a review...</p>
                        <p class="m-2 text-gray-500">Thank you!</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}