{% extends "main.html" %}
{% load static %}
{% block main_body %}
<div class="flex-grow contents">
    <div class="block  h-full m-2 border border-gray-950 rounded-md shadow-md">
        <div class="flex flex-row justify-between border-b border-gray-950">
            <h3>{{ course.name.value }}</h3>
            <p><i class="fa-regular fa-circle-info"></i> Take assessments to level up your knowledge. If you don’t know to answer this question, you can learn the concept and come back to answer this question later.</p>
            <a href="#" class="bg-yellow-500 m-2 py-1 px-2 text-gray-900 hover:bg-yellow-600 rounded-md w-56">Take assessment</a>
        </div>
        <div class="flex flex-col h-full w-full m-2 p-2 border-b border-gray-950 overflow-scroll">
            {% comment %} <h2 class="flex flex-row w-full align-middle justify-center">{{ topic|safe }}</h2> {% endcomment %}
            <div class="flex flex-col flex-grow align-middle justify-center items-center px-10 py-5">{{ content|safe }}</div>
        </div>
        <div class="flex flex-row justify-between">
            <p>Level: {{ course.current_level.value }}</p>
            <a href="#" class="bg-yellow-500 m-2 py-1 px-2 text-gray-900 hover:bg-yellow-600 rounded-md w-56">Next</a>
        </div>
    </div>
</div>
{% endblock %}