{% extends "base.html" %}
{% load static %}

{% block titile %}{% if plans_dropdown %}{{plans_dropdown.0.title}} | {% endif %}{{task_type}}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'tasks-style.css' %}">
    <link rel="stylesheet" href="{% static 'task-detail.css' %}">
{% endblock %}

{% block body %}
    </div>
    <div class="left-side-bar">
        <a href="/" style="text-decoration:none;"><h1>Planner</h1><a>
        <a class="normal-button" href={% url "task-create" %}{% if plan_object_id %}?plan_object_id={{plan_object_id}}{% endif %}>Add new task</a>
        <nav class="nav-list">
            <ul style="list-style-type: none;">
                <a href="{% if plan_object_id %}{% url "plan-tasks" plan_object_id %}{% else %}{% url "tasks" %}{% endif %}?task_type=ongoing_tasks">
                    <li style="{% if task_type == "Ongoing tasks" %}background-color:#202d44{% endif %}">
                        Ongoing tasks
                    </li>
                </a>
                <a href="{% if plan_object_id %}{% url "plan-tasks" plan_object_id %}{% else %}{% url "tasks" %}{% endif %}">
                    <li style="{% if task_type == "All tasks" %}background-color:#202d44{% endif %}">
                        All tasks
                    </li>
                </a>
                <a href="{% if plan_object_id %}{% url "plan-tasks" plan_object_id %}{% else %}{% url "tasks" %}{% endif %}?task_type=important_tasks">
                    <li style="{% if task_type == "Important tasks" %}background-color:#202d44{% endif %}">
                        Important tasks
                    </li>
                </a>
                <a href="{% if plan_object_id %}{% url "plan-tasks" plan_object_id %}{% else %}{% url "tasks" %}{% endif %}?task_type=completed_tasks">
                    <li style="{% if task_type == "Completed tasks" %}background-color:#202d44{% endif %}">
                        Completed tasks
                    </li>
                </a>
                <a href="{% if plan_object_id %}{% url "plan-tasks" plan_object_id %}{% else %}{% url "tasks" %}{% endif %}?task_type=uncompleted_tasks">
                    <li style="{% if task_type == "Uncompleted tasks" %}background-color:#202d44{% endif %}">
                        Uncompleted tasks
                    </li>
                </a>
                <a href="{% if plan_object_id %}{% url "plan-tasks" plan_object_id %}{% else %}{% url "tasks" %}{% endif %}">
                    <li style="{% if task_type == "All plans" %}background-color:#202d44{% endif %}">
                        All plans
                    </li>
                </a>
            </ul>
        </nav>
    </div>
    <div class="task-detail">
        <h2>{{ task.title }}</h2>
        <div class="task-data">
            <div class="group">
                <div class="element">
                    <label for="description">Description</label>
                    <textarea disabled name="description" rows="4" cols="50" placeholder="Task description...">{{ task.description }}</textarea>
                </div>
            </div>
            <div class="group">
                <div class="element">
                    <label for="plan">Plan</label>
                    <input disabled type="text" name="plan" value="{{ task.plan.title }}">
                </div>
                <div class="element">
                    <label for="team">Team</label>
                    <input disabled type="text" name="team" value="{{ task.team.name }}">
                </div>
            </div>
            <div class="group">
                <div class="element">
                    <label for="status">Status</label>
                    <span style="background-color:{{task.status.color}};border-radius:20px;color:black;padding:5px;width:fit-content;" name="status">{{ task.status.value }}</span>
                </div>
                <div class="element">
                    <label for="priority">Priority</label>
                    <p style="background-color:{{task.priority.color}};border-radius:20px;color:black;padding:5px;width:fit-content;" name="priority">{{ task.priority.value }}</p>
                </div>
            </div>
            <div class="group">
                <div class="element">
                    <label for="planned_start_date">Planned start date</label>
                    <input disabled type="date" name="planned_start_date" value="{{ task.planned_start_date }}">
                </div>
                <div class="element">
                    <label for="planned_end_date">Planned end date</label>
                    <input disabled type="date" name="planned_end_date" value="{{ task.planned_end_date }}">
                </div>
            </div>
            <div class="group">
                <div class="element">
                    <label for="owners">Owners</label>
                    {% for owner in task.owners.all %}
                        <span style="background-color:aliceblue;border-radius:20px;color:black;padding:5px;width:fit-content;" name="owners">{{ owner.full_name }}</span>
                    {% endfor %}
                </div>
                <div class="element">
                    <label for="estimated_work_hours">Estimated work hours</label>
                    <input disabled type="number" name="estimated_work_hours" value="{{ task.estimated_work_hours }}">
                </div>
            </div>
        </div>
    </div>
    <div id="chat-icon" style="display:{% if comment_added %}none{% endif %};">
        <i class="fa-regular fa-comment fa-2xl {% if comment_not_viewed_count %}fa-beat{% endif %}" style="color: #B197FC;"></i>
        <span class="badge" style="{% if not comment_not_viewed_count %}display:none;{% endif %}">{{ comment_not_viewed_count }}</span>
    </div>
    <div class="right-side-bar" style="display:{% if comment_added %}flex{% else %}none{% endif %};">
        <div class="comment-section">
            <div class="comment-header">
                <h4>Comments</h4>
                <div id="chat-close-icon">
                    <i class="fa-solid fa-xmark fa-fade fa-lg" style="color: #B197FC;"></i>
                </div>
            </div>
            <div class="comment-list">
                {% for comment in task.comments.all %}
                    <div class="comment" style="background-color:{{comment.created_by.fav_color}};{% if comment.created_by in task.owners.all %}margin-left:30px;border-bottom-right-radius:0;{% else %}margin-right:30px;border-top-left-radius:0;{% endif %}">
                        <div class="comment-user">
                            <img src="{{ comment.created_by.profile_pic.url }}" alt="pic" style="width:30px;height:30px;object-fit:cover;border-radius:50%;">
                            <p>{{ comment.created_by.full_name }}</p>
                        </div>
                        <p>{{ comment.text }}</p>
                        <p style="font-size:10px;display:flex;justify-content:right;">{{ comment.created_date.time }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="comment-add-form">
                <form method="POST" action="{% url 'add-task-comment' task.object_id %}">
                    {% csrf_token %}
                    <textarea name="comment" id="comment" style="border-radius:5px;background-color:#0e1729;width:100%;resize:none;height:10px;overflow-y:auto;" placeholder="Type your comment here..."></textarea>
                    <input class="normal-button" style="width:100%;padding:5px;margin:0;" type="submit" value="Add comment">
                </form>
            </div>
            
        </div>
    </div>

    {% comment %} scripts {% endcomment %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const chat_icon = document.getElementById("chat-icon");
            chat_icon.addEventListener('click', function() {
                const right_side_bar = document.querySelector('.right-side-bar')
                right_side_bar.style.display = "flex";
                chat_icon.style.display = "none";
            });
            const chat_close_icon = document.getElementById("chat-close-icon");
            chat_close_icon.addEventListener('click', function() {
                const right_side_bar = document.querySelector('.right-side-bar')
                right_side_bar.style.display = "none";
                chat_icon.style.display = "";
            });
        });
    </script>
{% endblock %}