{% extends "base.html" %}
{% load static %}

{% block titile %}| Login{% endblock %}

{% block body %}
<div class="w-dvw h-dvh flex flex-col justify-center align-middle">
    <div class="container mx-auto w-96 p-4 border border-violet-500 rounded-lg bg-gray-900 shadow-2xl">
        <form method="POST" onsubmit="accounts/login/">
            {% csrf_token %}
            <div class="flex flex-col p-2 m-2">
                <div class="flex flex-row justify-center">
                    <img src={% static "images/learn-assisst-logo.png" %} alt="logo" width="50px" height="50px">
                </div>
                <h1 class="flex flex-row justify-center font-bold">Welcome back!</h1>
                <p class="flex flex-row justify-center font-thin text-gray-300">Your AI based learning assisstant missed you</p>
                <div class="w-full my-1 py-1">
                    <label for="email" 
                        class="text-sm">
                        Email
                    </label>
                    <input type="email" name="email" required autofocus id="email"
                        class="w-full text-sm bg-transparent border border-gray-300 rounded-lg">
                </div>
                <div class="w-full my-1 py-1">
                    <label for="password" 
                        class="text-sm">
                        Password
                    </label>
                    <input type="password" name="password" required autofocus id="password" 
                        class="w-full text-sm bg-transparent border border-gray-300 rounded-lg">
                </div>
                <div class="flex flex-row justify-center my-1 py-1">
                    <button class="bg-yellow-500 text-black hover:bg-yellow-200 px-5 py-1 border border-gray-500 rounded-md" type="submit" value="Login">Login</button>
                </div>
                <div>
                    <p class="flex flex-row justify-center ">New to Professor.AI?<a href="/accounts/register/" class="text-blue-600 px-1">Register</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}