{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts-style.css' %}">
{% endblock %}

{% block body %}
    <div class="user-form">
        <form method="POST" onsubmit="accounts/login/">
            {% csrf_token %}
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="you@gmail.com" required autofocus>
            <label for="password">Password</label>
            <input type="password" name="password" maxlength=50 required>
            <div style="display:flex; justify-content:space-between;">
                <input type="submit" value="Login">
                <a href="/accounts/register/"><input type="button" value="Register"></a>
            </div>
        </form>
    </div>
{% endblock %}