<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en-us" class="bg-gray-900 font-sans font-normal text-white">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Professor.AI {% block titile %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'images/learn-assisst-logo.png' %}">
        {% load static %}
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        {% tailwind_preload_css %}
        {% tailwind_css %}
        {% comment %} <link rel="stylesheet" href="{% static 'main.css' %}"> {% endcomment %}
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body class="h-screen w-screen flex flex-col">
        {% if messages %}
            {% for message in messages %}
                <div id="toaster" class="
                fixed top-4 right-4 text-gray-900 py-2 px-4 rounded shadow-lg
                {% if message.tags == 'info' %}bg-yellow-500
                {% elif message.tags == 'success' %}bg-green-500
                {% elif message.tags == 'error' %}bg-red-500
                {% elif message.tags == 'warning' %}bg-orange-500
                {% endif %}
                ">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}

        <script>
            // Fade out the toaster after 3 seconds
            setTimeout(function() {
                const toaster = document.getElementById("toaster");
                if (toaster) {
                    toaster.classList.add("opacity-0");
                }
            }, 3000);
        </script>
    </body>
</html>