<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en-us" class="bg-gray-900 font-sans font-normal text-white">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Professor.AI {% block titile %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'images/learn-assisst-logo.png' %}">
        {% load static %}
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        {% tailwind_preload_css %}
        {% tailwind_css %}
        {% comment %} <link rel="stylesheet" href="{% static 'main.css' %}"> {% endcomment %}
        {% block stylesheet %}
        {% endblock %}
    </head>
    <body class="h-screen w-screen flex flex-col">
        <div class="toast-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="toast {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>