{% extends "base.html" %}
{% load static %}

{% block body %}
<nav class="shadow-md">
    <div class=" mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <!-- Left Section: Logo -->
            <div class="flex items-center gap-1">
                <img src="{% static 'images/learn-assisst-logo.png' %}" alt="Logo" width="40px" height="40px" class="rounded-md">
                <a href="/" class="text-xl font-bold hidden md:flex flex-row">
                    Professor.AI
                </a>
                <div class="flex space-x-8 items-center ms-10">
                    <a href="/" class="hover:border-b  px-3 py-2 text-sm font-medium {% if view == "home" %}border-b border-yellow-500{% endif %}">
                        Home
                    </a>
                    <a href="{% url 'all-subjects' %}" class="hover:border-b  px-3 py-2 text-sm font-medium {% if view == "subjects" %}border-b border-yellow-500{% endif %}">
                        Subjects
                    </a>
                    <a href="#" class="hover:border-b px-3 py-2 text-sm font-medium {% if view == "learn" %}border-b border-yellow-500{% endif %}">
                        Learn
                    </a>
                    <a href="#" class="hover:border-b px-3 py-2 text-sm font-medium {% if view == "assessment" %}border-b border-yellow-500{% endif %}">
                        Assessment
                    </a>
                </div>
            </div>
            <!-- Right Section: Buttons or Menu -->
            <div class="flex items-center space-x-4">
                <a href="accounts/logout/" class="text-sm font-medium hover:bg-red-500 px-4 py-2 rounded-md">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>
{% block main_body %}
{% endblock %}

{% endblock %}